---
import CategoryNav from "@components/CategoryNav.astro";
// import "@styles/diarisVoluntaries-content.css";
import { getDiarisVoluntariesInfo } from "@wp/getDiarisVoluntariesInfo";

const { lang, slug } = Astro.params;
const slugCompleto = `${slug}-${lang}`;
const diarisVoluntaries = await getDiarisVoluntariesInfo(lang, slugCompleto);
---

<CategoryNav lang={lang} slug={slug} />

<article class="max-w-lg mx-auto bg-white p-4 space-y-4 flex md:mx-[15%]">
    
  <div class="diaris-voluntaries-content" set:html={diarisVoluntaries.content}></div>

</article>
