---
import CategoryNav from "@components/CategoryNav.astro";
// import "@styles/enviament-content.css";
import { getEnviamentInfo } from "@wp/getEnviamentInfo";

const { lang, slug } = Astro.params;
const slugCompleto = `${slug}-${lang}`;
const enviament = await getEnviamentInfo(lang, slugCompleto);
---

<CategoryNav lang={lang} slug={slug} />

<article class="max-w-lg mx-auto bg-white p-4 space-y-4 flex md:mx-[15%]">
    
  <div class="enviament-content" set:html={enviament.content}></div>

</article>

