---
import CategoryNav from "@components/CategoryNav.astro";
import { getMentorVoluntariesInfo } from "@wp/getMentorVoluntariesInfo";
import "@styles/mentor-voluntaries-content.css";



const { lang, slug } = Astro.params;

const slugCompleto = `${slug}-${lang}`;

const mentorVoluntaries = await getMentorVoluntariesInfo(lang, slugCompleto);
---

<CategoryNav lang={lang} slug={slug} />

<article class="max-w-4xl mx-auto bg-white p-4 space-y-4 flex">
    
  <div class="mentor-voluntaries-content" set:html={mentorVoluntaries.content}></div>

</article>
