---
import CategoryNav from "@components/CategoryNav.astro";
// import "@styles/ocell-foc-content.css";
import { getOcellFocInfo } from "@wp/getOcellFocInfo";

const { lang, slug } = Astro.params;
const slugCompleto = `${slug}-${lang}`;
const ocellFoc = await getOcellFocInfo(lang, slugCompleto);
---

<CategoryNav lang={lang} slug={slug} />
<article class="max-w-lg mx-auto bg-white p-4 space-y-4 flex">
    
  <div class="ocell-foc-content" set:html={ocellFoc.content}></div>

</article>
