---
import CategoryNav from "@components/CategoryNav.astro";
// import "@styles/playground-content.css";
import { getPlaygroundInfo } from "@wp/getPlaygroundInfo";

const { lang, slug } = Astro.params;
const slugCompleto = `${slug}-${lang}`;
const playground = await getPlaygroundInfo(lang, slugCompleto);
---

<CategoryNav lang={lang} slug={slug} />
<article class="max-w-lg mx-auto bg-white p-4 space-y-4 flex">
    
  <div class="playground-content" set:html={playground.content}></div>

</article>
