---
import CategoryNav from "@components/CategoryNav.astro";
// import "@styles/projectes-passats-content.css";
import { getProjectesPassatsInfo } from "@wp/getProjectesPassatsInfo";

const { lang, slug } = Astro.params;
const slugCompleto = `${slug}-${lang}`;
const projectesPassats = await getProjectesPassatsInfo(lang, slugCompleto);
---

<CategoryNav lang={lang} slug={slug} />
<article class="max-w-lg mx-auto bg-white p-4 space-y-4 flex">
    
  <div class="projectes-passats-content" set:html={projectesPassats.content}></div>

</article>
