---
import CategoryNav from "@components/CategoryNav.astro";
import "@styles/que-es-content.css";
import { getQueEsInfo } from "@wp/getQueEsInfo";
const { lang, slug } = Astro.params;
const slugCompleto = `${slug}-${lang}`;
const queEs = await getQueEsInfo(lang, slugCompleto);
---

<CategoryNav lang={lang} slug={slug} />
<article class="max-w-lg mx-auto bg-white p-4 space-y-4 flex">
    
  <div class="que-es-content" set:html={queEs.content}></div>

</article>