---
import CategoryNav from "@components/CategoryNav.astro";
import { getQueFemInfo } from "@wp/getQueFemInfo";
import "@styles/que-fem-content.css";


const { lang, slug } = Astro.params;

const slugCompleto = `${slug}-${lang}`;

const queFem = await getQueFemInfo(lang, slugCompleto);

---


<CategoryNav lang={lang} slug={slug} />

<article class="bg-white p-4 space-y-4 flex justify-center md:mt-[50px]">
    
  <div class="que-fem-content" set:html={queFem.content}></div>

</article>
