---
import CategoryNav from "@components/CategoryNav.astro";
// import "@styles/sending-content.css";
import { getSendingInfo } from "@wp/getSendingInfo";

const { lang, slug } = Astro.params;
const slugCompleto = `${slug}-${lang}`;
const sending = await getSendingInfo(lang, slugCompleto);
---

<CategoryNav lang={lang} slug={slug} />
<article class="max-w-lg mx-auto bg-white p-4 space-y-4 flex md:mx-[15%]">
    
  <div class="sending-content" set:html={sending.content}></div>

</article>