---
import CategoryNav from "@components/CategoryNav.astro";
import { getVolunteerInfo } from "@wp/getVolunteerInfo";


const { lang, slug } = Astro.params;

const slugCompleto = `${slug}-${lang}`;

const volunteer = await getVolunteerInfo(lang, slugCompleto);
---

<CategoryNav lang={lang} slug={slug} />

<article class="max-w-lg mx-auto bg-white p-4 space-y-4">
    
  <div class="mentor-voluntaries-content" set:html={volunteer.content}></div>

</article>
