---
import { Picture } from "astro:assets";
import RRSS from "@components/RRSS.astro";
import { getPostsInfo, getImageInfo } from "@wp/index.js";

const acf = await getPostsInfo("footer");

const imageIds = [acf.ubicacion_imagen, acf.telefono_imagen, acf.correo_imagen];

// Hacer todas las llamadas de imágenes en paralelo
const imagesData = await Promise.all(imageIds.map((id) => getImageInfo(id)));

// Asignar los datos obtenidos
const [imageDataUbi, imageDataTel, imageDataMail] = imagesData;

const imageUrlUbi = imageDataUbi?.source_url || "";
const imageAltUbi = imageDataUbi?.alt_text || "Logo Vibria";

const imageUrlTel = imageDataTel?.source_url || "";
const imageAltTel = imageDataTel?.alt_text || "Logo Vibria";

const imageUrlMail = imageDataMail?.source_url || "";
const imageAltMail = imageDataMail?.alt_text || "Logo Vibria";
---

<footer class="bg-primary px-12 pt-2 pb-1 gap-2">
  <div class="flex flex-col justify-center items-center gap-2 md:flex-row md:gap-8 md:py-6 lg:gap-4">
    <RRSS />

    <div
      class="flex flex-col items-start justify-center text-center gap-2 pb-4 md:flex-row-reverse md:items-center md:gap-8 lg:gap-12"
    >
      <div class="flex flex-row items-center gap-4">
        <Picture
          formats={["webp", "avif", "jpeg"]}
          src={imageUrlUbi}
          alt={imageAltUbi}
          width="20"
          height="20"
        />
        <ul class="list-none text-left">
          <li class="p font-500">{acf.ubicacion_texto}</li>
          <li class="p">{acf.ubicacion_lugar_texto}</li>
          <li class="p">{acf.ubicacion_horario_texto}</li>
        </ul>
      </div>
      <div
        class="flex flex-col items-start justify-center text-center gap-2 md:flex-col-reverse md:w-1/3 lg:w-1/4"
      >
        <div class="flex flex-row items-center gap-4">
          <Picture
            formats={["webp", "avif", "jpeg"]}
            src={imageUrlTel}
            alt={imageAltTel}
            width="20"
            height="20"
            class="md:max-w-fit"
          />
          <p class="p md:text-left">{acf.telefono_texto}</p>
        </div>
        <div class="flex flex-row items-center gap-4">
          <Picture
            formats={["webp", "avif", "jpeg"]}
            src={imageUrlMail}
            alt={imageAltMail}
            width="20"
            height="20"
            class="md:max-w-fit"
          />
          <p class="p">{acf.correo_texto}</p>
        </div>
      </div>
    </div>
  </div>
  <p class="copyright text- text-center t">{acf.derechos_vibria_texto}</p>
</footer>
