---
import { getSlidesInfo } from "@wp/index.js";
const { lang } = Astro.params;

const slides = await getSlidesInfo(lang);
---

<div id="slide-container" class="w-full min-h-[700px] overflow-hidden">
  <div id="slides" class="w-full h-full">
    {
      slides.map((slide, index) => (
        <div
          class={`slide absolute top-76 left-0 w-full min-h-[700px] flex flex-col gap-3 items-start justify-center px-4 transition-opacity duration-700 ${index === 0 ? "opacity-100" : "opacity-0"}`}
          data-index={index}
          style={`background: linear-gradient(rgba(5, 130, 121, 0.6), rgba(5, 130, 121, 0.6)), url('${slide.imageUrl}') center/cover no-repeat;`}
        >
          <h1 class="h1" style="text-shadow: 1.2px 1.2px 0px #FFC721;">
            {slide.title}
          </h1>
          <h3 class="h3 font-800">{slide.subtitle}</h3>
          <p class="p">{slide.text}</p>
          <a href={slide.buttonUrl} class="btn">
            {slide.buttonText}
          </a>
        </div>
      ))
    }
  </div>

  <!-- Botones de navegación -->
  <div
    id="slide-buttons"
    class="absolute bottom-1 left-1/2 transform -translate-x-1/2 flex flex-row justify-center items-center gap-4"
  >
    {
      slides.map((_, index) => (
        <button
          class={`slide-button rounded-full transition-all ${
            index === 0
              ? "bg-yellow outline outline-2 outline-offset-3 outline-secondary  w-2 h-2"
              : "bg-white w-3 h-3"
          }`}
          data-index={index}
        />
      ))
    }
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    let currentSlide = 0;
    const slides = document.querySelectorAll(
      ".slide"
    ) as NodeListOf<HTMLElement>;
    const buttons = document.querySelectorAll(
      ".slide-button"
    ) as NodeListOf<HTMLElement>;

    function showSlide(index: any) {
      slides.forEach((slide, i) => {
        slide.style.opacity = i === index ? "1" : "0";
        slide.style.zIndex = i === index ? "1" : "0";
        slide.style.pointerEvents = i === index ? "auto" : "none";
      });

      buttons.forEach((button, i) => {
        button.classList.toggle("bg-yellow", i === index);
        button.classList.toggle("outline", i === index);
        button.classList.toggle("outline-2", i === index);
        button.classList.toggle("outline-offset-4", i === index);
        button.classList.toggle("outline-secondary", i === index);
        button.classList.toggle("w-2", i === index);
        button.classList.toggle("h-2", i === index);
        button.classList.toggle("bg-white", i !== index);
        button.classList.toggle("w-3", i !== index);
        button.classList.toggle("h-3", i !== index);
      });

      currentSlide = index;
    }

    // Cambiar de slide automáticamente cada 5 segundos
    setInterval(() => {
      const nextSlide = (currentSlide + 1) % slides.length;
      showSlide(nextSlide);
    }, 5000);

    // Agregar eventos a los botones
    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        const index = parseInt(button.dataset.index || "0");
        showSlide(index);
      });
    });

    showSlide(0);
  });
</script>
